[submodule "9base/git"]
	path = 9base/git
	url = https://git.suckless.org/9base
	branch = master
[submodule "sbase/git"]
	path = sbase/git
	url = https://git.suckless.org/sbase
	branch = master
[submodule "ubase/git"]
	path = ubase/git
	url = https://git.suckless.org/ubase
	branch = master
[submodule "rc/git"]
	path = rc/git
	url = https://github.com/muennich/rc.git
	branch = master
[submodule "htop/git"]
	path = htop/git
	url = https://github.com/htop-dev/htop.git
	branch = main
[submodule "9pro/git"]
	path = 9pro/git
	url = https://git.sr.ht/~ft/9pro
	branch = master
[submodule "pass/git"]
	path = pass/git
	url = https://git.zx2c4.com/password-store
	branch = master
[submodule "uemacs/git"]
	path = uemacs/git
	url = https://git.kernel.org/pub/scm/editors/uemacs/uemacs.git
	branch = master
[submodule "stunnel/git"]
	path = stunnel/git
	url = https://github.com/mtrojnar/stunnel.git
	branch = master
[submodule "sdbm/git"]
	path = sdbm/git
	url = https://github.com/jaydg/sdbm.git
	branch = master
[submodule "wolfssl/osp/git"]
	path = wolfssl/osp/git
	url = https://github.com/wolfSSL/osp
	branch = master
[submodule "wolfmqtt/git"]
	path = wolfmqtt/git
	url = https://github.com/wolfSSL/wolfmqtt.git
	branch = master
[submodule "wolfssh/git"]
	path = wolfssh/git
	url = https://github.com/wolfSSL/wolfssh.git
	branch = master
[submodule "opkg/git"]
	path = opkg/git
	url = https://git.yoctoproject.org/opkg
	branch = master
[submodule "wolfssl/git"]
	path = wolfssl/git
	url = https://github.com/wolfssl/wolfssl.git
	branch = master
[submodule "gitea/tea/git"]
	path = gitea/tea/git
	url = https://gitea.com/gitea/tea.git
	branch = master
[submodule "zlib/git"]
	path = zlib/git
	url = https://github.com/madler/zlib.git
	branch = master
[submodule "bearssl/git"]
	path = bearssl/git
	url = https://www.bearssl.org/git/BearSSL
	branch = master
[submodule "shellinabox/git"]
	path = shellinabox/git
	url = https://github.com/shellinabox/shellinabox.git
	branch = master
[submodule "libssh2/git"]
	path = libssh2/git
	url = https://github.com/libssh2/libssh2.git
	branch = master
[submodule "slibtool/git"]
	path = slibtool/git
	url = https://github.com/midipix-project/slibtool
	branch = main
[submodule "busybox/git"]
	path = busybox/git
	url = https://git.busybox.net/busybox/
	branch = master
[submodule "toybox/git"]
	path = toybox/git
	url = https://github.com/landley/toybox.git
	branch = master
[submodule "sslh/git"]
	path = sslh/git
	url = https://github.com/yrutschle/sslh.git
	branch = master
[submodule "hitch/git"]
	path = hitch/git
	url = https://github.com/varnish/hitch.git
	branch = master
[submodule "colorized-logs/git"]
	path = colorized-logs/git
	url = https://github.com/kilobyte/colorized-logs.git
	branch = master
