[submodule "9base/git"]
	path = 9base/git
	url = https://git.suckless.org/9base
[submodule "sbase/git"]
	path = sbase/git
	url = https://git.suckless.org/sbase
[submodule "ubase/git"]
	path = ubase/git
	url = https://git.suckless.org/ubase
