[submodule "9base/git"]
	path = 9base/git
	url = https://git.suckless.org/9base
	branch = master
[submodule "sbase/git"]
	path = sbase/git
	url = https://git.suckless.org/sbase
	branch = master
[submodule "ubase/git"]
	path = ubase/git
	url = https://git.suckless.org/ubase
	branch = master
[submodule "htop/git"]
	path = htop/git
	url = https://github.com/htop-dev/htop.git
	branch = main
[submodule "9pro/git"]
	path = 9pro/git
	url = https://git.sr.ht/~ft/9pro
	branch = master
[submodule "pass/git"]
	path = pass/git
	url = https://git.zx2c4.com/password-store
	branch = master
[submodule "uemacs/git"]
	path = uemacs/git
	url = https://git.kernel.org/pub/scm/editors/uemacs/uemacs.git
	branch = master
[submodule "stunnel/git"]
	path = stunnel/git
	url = https://github.com/mtrojnar/stunnel.git
	branch = master
[submodule "sdbm/git"]
	path = sdbm/git
	url = https://github.com/jaydg/sdbm.git
	branch = master
[submodule "wolfssl/osp/git"]
	path = wolfssl/osp/git
	url = https://github.com/wolfSSL/osp
	branch = master
[submodule "wolfmqtt/git"]
	path = wolfmqtt/git
	url = https://github.com/wolfSSL/wolfmqtt.git
	branch = master
[submodule "wolfssh/git"]
	path = wolfssh/git
	url = https://github.com/wolfSSL/wolfssh.git
	branch = master
[submodule "opkg/git"]
	path = opkg/git
	url = https://git.yoctoproject.org/opkg
	branch = master
[submodule "wolfssl/git"]
	path = wolfssl/git
	url = https://github.com/wolfssl/wolfssl.git
	branch = master
[submodule "gitea/tea/git"]
	path = gitea/tea/git
	url = https://gitea.com/gitea/tea.git
	branch = main
[submodule "zlib/git"]
	path = zlib/git
	url = https://github.com/madler/zlib.git
	branch = master
[submodule "bearssl/git"]
	path = bearssl/git
	url = https://www.bearssl.org/git/BearSSL
	branch = master
[submodule "shellinabox/git"]
	path = shellinabox/git
	url = https://github.com/shellinabox/shellinabox.git
	branch = master
[submodule "libssh2/git"]
	path = libssh2/git
	url = https://github.com/libssh2/libssh2.git
	branch = master
[submodule "slibtool/git"]
	path = slibtool/git
	url = https://git.foss21.org/cross/slibtool
	branch = main
[submodule "busybox/git"]
	path = busybox/git
	#url = https://git.busybox.net/busybox/
	url = https://github.com/mirror/busybox.git
	branch = master
[submodule "toybox/git"]
	path = toybox/git
	url = https://github.com/landley/toybox.git
	branch = master
[submodule "sslh/git"]
	path = sslh/git
	url = https://github.com/yrutschle/sslh.git
	branch = master
[submodule "hitch/git"]
	path = hitch/git
	url = https://github.com/varnish/hitch.git
	branch = master
[submodule "colorized-logs/git"]
	path = colorized-logs/git
	url = https://github.com/kilobyte/colorized-logs.git
	branch = master
[submodule "dash/git"]
	path = dash/git
	url = https://git.kernel.org/pub/scm/utils/dash/dash.git
	branch = master
[submodule "nebula/git"]
	path = nebula/git
	url = https://github.com/slackhq/nebula.git
[submodule "pkgconf/git"]
	path = pkgconf/git
	url = https://github.com/pkgconf/pkgconf.git
	branch = master
[submodule "dropbear/git"]
	path = dropbear/git
	url = https://github.com/mkj/dropbear.git
	branch = master
[submodule "mbedtls/git"]
	path = mbedtls/git
	url = https://github.com/Mbed-TLS/mbedtls.git
	branch = development
[submodule "e2fsprogs/git"]
	path = e2fsprogs/git
	url = https://github.com/tytso/e2fsprogs.git
	branch = master
[submodule "ksh93/git"]
	path = ksh93/git
	url = https://github.com/ksh93/ksh.git
	branch = dev
[submodule "libretls/git"]
	path = libretls/git
	url = https://git.causal.agency/libretls
	branch = master
[submodule "onetrueawk/git"]
	path = onetrueawk/git
	url = https://github.com/onetrueawk/awk.git
	branch = master
[submodule "entr/git"]
	path = entr/git
	url = https://github.com/eradman/entr.git
	branch = master
[submodule "mujs/git"]
	path = mujs/git
	url = https://github.com/ccxvii/mujs.git
	branch = master
[submodule "duktape/git"]
	path = duktape/git
	url = https://github.com/svaarala/duktape.git
	branch = master
[submodule "libtls-bearssl/git"]
	path = libtls-bearssl/git
	url = https://github.com/michaelforney/libtls-bearssl.git
	branch = master
[submodule "rlwrap/git"]
	path = rlwrap/git
	url = https://github.com/hanslub42/rlwrap.git
	branch = master
[submodule "mtm/git"]
	path = mtm/git
	url = https://github.com/deadpixi/mtm.git
	branch = master
[submodule "dtach/git"]
	path = dtach/git
	url = https://github.com/crigler/dtach.git
	branch = master
[submodule "opendoas/git"]
	path = opendoas/git
	url = https://github.com/Duncaen/OpenDoas.git
	branch = master
[submodule "libressl/libressl-portable/git"]
	path = libressl/libressl-portable/git
	url = https://github.com/libressl-portable/portable.git
	branch = master
[submodule "socat/git"]
	path = socat/git
	url = https://repo.or.cz/socat.git
	branch = master
[submodule "rsync/git"]
	path = rsync/git
	url = https://github.com/WayneD/rsync.git
	branch = master
[submodule "pdpmake/git"]
	path = pdpmake/git
	url = https://github.com/rmyorston/pdpmake.git
	branch = master
[submodule "njs/git"]
	path = njs/git
	url = https://github.com/nginx/njs.git
	branch = master
[submodule "nginx/git"]
	path = nginx/git
	url = https://github.com/nginx/nginx.git
	branch = master
[submodule "quickjs/git"]
	path = quickjs/git
	url = https://github.com/bellard/quickjs.git
	branch = master
[submodule "ethtool/git"]
	path = ethtool/git
	url = https://git.kernel.org/pub/scm/network/ethtool/ethtool.git
	branch = master
[submodule "lmdb/git"]
	path = lmdb/git
	url = https://github.com/LMDB/lmdb.git
	branch = mdb.master
[submodule "tinyssh/git"]
	path = tinyssh/git
	url = https://github.com/janmojzis/tinyssh.git
	branch = master
[submodule "got/git"]
	path = got/git
	#url = https://git.gameoftrees.org/got-portable.git
	#url = ssh://anonymous@got.gameoftrees.org/got-portable.git
	url = https://repo.or.cz/got-portable.git
	#url = https://codeberg.org/stsp/got-portable
	branch = main
[submodule "ag/git"]
	path = ag/git
	url = https://github.com/ggreer/the_silver_searcher.git
	branch = master
[submodule "pv/git"]
	path = pv/git
	url = https://github.com/a-j-wood/pv.git
	branch = main
[submodule "xvi/git"]
	path = xvi/git
	url = https://github.com/martinwguy/xvi.git
	branch = master
[submodule "otools/git"]
	path = otools/git
	url = https://github.com/CarbsLinux/otools.git
	branch = master
[submodule "baseutils/git"]
	path = baseutils/git
	url = https://github.com/ibara/baseutils.git
	branch = master
[submodule "outils/git"]
	path = outils/git
	url = https://github.com/leahneukirchen/outils.git
	branch = master
[submodule "openconnect/git"]
	path = openconnect/git
	url = https://gitlab.com/openconnect/openconnect.git
	branch = master
[submodule "openconnect/vpnc-scripts/git"]
	path = openconnect/vpnc-scripts/git
	url = https://gitlab.com/openconnect/vpnc-scripts.git
	branch = master
[submodule "openssh/git"]
	path = openssh/git
	url = https://github.com/openssh/openssh-portable.git
	branch = master
[submodule "tmux/git"]
	path = tmux/git
	url = https://github.com/tmux/tmux.git
	branch = master
[submodule "glorytun/git"]
	path = glorytun/git
	url = https://github.com/angt/glorytun.git
	branch = master
[submodule "file/git"]
	path = file/git
	url = https://github.com/file/file.git
	branch = master
[submodule "wireguard/wireguard-go/git"]
	path = wireguard/wireguard-go/git
	url = https://github.com/WireGuard/wireguard-go.git
	branch = master
[submodule "wireguard/wgctrl-go/git"]
	path = wireguard/wgctrl-go/git
	url = https://github.com/WireGuard/wgctrl-go.git
	branch = master
[submodule "wireguard/wireguard-tools/git"]
	path = wireguard/wireguard-tools/git
	url = https://github.com/WireGuard/wireguard-tools.git
	branch = master
[submodule "neatvi/git"]
	path = neatvi/git
	url = https://github.com/aligrudi/neatvi.git
	branch = master
[submodule "uacme/git"]
	path = uacme/git
	url = https://github.com/ndilieto/uacme.git
	branch = master
[submodule "inadyn/git"]
	path = inadyn/git
	url = https://github.com/troglobit/inadyn.git
	branch = master
[submodule "w3m/git"]
	path = w3m/git
	url = https://github.com/tats/w3m.git
	branch = master
[submodule "libffi/git"]
	path = libffi/git
	url = https://github.com/libffi/libffi.git
	branch = master
[submodule "tree/git"]
	path = tree/git
	url = https://gitlab.com/OldManProgrammer/unix-tree.git
	branch = master
[submodule "gitlab/glab/git"]
	path = gitlab/glab/git
	url = https://gitlab.com/gitlab-org/cli.git
	branch = main
[submodule "npt/git"]
	path = npt/git
	url = https://github.com/nptcl/npt.git
	branch = master
[submodule "cadaver/git"]
	path = cadaver/git
	url = https://github.com/notroj/cadaver.git
	branch = master
[submodule "neon/git"]
	path = neon/git
	url = https://github.com/notroj/neon.git
	branch = master
[submodule "nextvi/git"]
	path = nextvi/git
	url = https://github.com/kyx0r/nextvi.git
	branch = master
[submodule "samurai/git"]
	path = samurai/git
	url = https://github.com/michaelforney/samurai.git
	branch = master
[submodule "muon/git"]
	path = muon/git
	url = https://github.com/annacrombie/muon.git
	branch = master
[submodule "doctl/git"]
	path = doctl/git
	url = https://github.com/digitalocean/doctl.git
	branch = main
[submodule "unfs3/git"]
	path = unfs3/git
	url = https://github.com/unfs3/unfs3.git
	branch = master
[submodule "goldy/git"]
	path = goldy/git
	url = https://github.com/ibm-security-innovation/goldy.git
	branch = main
[submodule "libuargp/git"]
	path = libuargp/git
	url = https://github.com/xhebox/libuargp.git
	branch = master
[submodule "muslobstack/git"]
	path = muslobstack/git
	url = https://github.com/void-linux/musl-obstack.git
	branch = master
[submodule "elfutils/git"]
	path = elfutils/git
	url = https://sourceware.org/git/elfutils.git
	branch = main
[submodule "argpstandalone/git"]
	path = argpstandalone/git
	url = https://github.com/argp-standalone/argp-standalone.git
	branch = master
[submodule "fennel/git"]
	path = fennel/git
	url = https://git.sr.ht/~technomancy/fennel
	branch = main
[submodule "luarocks/git"]
	path = luarocks/git
	url = https://github.com/luarocks/luarocks.git
	branch = main
[submodule "xz/git"]
	path = xz/git
	url = https://github.com/tukaani-project/xz.git
	branch = master
[submodule "openvpn/git"]
	path = openvpn/git
	url = https://github.com/openvpn/openvpn.git
	branch = master
[submodule "mosquitto/git"]
	path = mosquitto/git
	url = https://github.com/eclipse/mosquitto.git
	branch = master
[submodule "libucontext/git"]
	path = libucontext/git
	url = https://github.com/kaniini/libucontext.git
	branch = master
[submodule "libxml2/git"]
	path = libxml2/git
	url = https://github.com/gnome/libxml2.git
	branch = master
[submodule "libxslt/git"]
	path = libxslt/git
	url = https://github.com/gnome/libxslt.git
	branch = master
[submodule "libtom/libtommath/git"]
	path = libtom/libtommath/git
	url = https://github.com/libtom/libtommath.git
	branch = develop
[submodule "libtom/libtomcrypt/git"]
	path = libtom/libtomcrypt/git
	url = https://github.com/libtom/libtomcrypt.git
	branch = develop
[submodule "libpsl/git"]
	path = libpsl/git
	url = https://github.com/rockdaboot/libpsl.git
	branch = master
[submodule "libidn/git"]
	path = libidn/git
	url = https://gitlab.com/libidn/libidn.git
	branch = master
[submodule "libidn2/git"]
	path = libidn2/git
	url = https://gitlab.com/libidn/libidn2.git
	branch = master
[submodule "cryanc/git"]
	path = cryanc/git
	url = https://github.com/classilla/cryanc.git
	branch = main
[submodule "jq/git"]
	path = jq/git
	url = https://github.com/jqlang/jq.git
	branch = master
[submodule "jo/git"]
	path = jo/git
	url = https://github.com/jpmens/jo.git
	branch = master
[submodule "lighttpd/git"]
	path = lighttpd/git
	url = https://git.lighttpd.net/lighttpd/lighttpd1.4.git
	branch = master
[submodule "openjdk/nashorn/git"]
	path = openjdk/nashorn/git
	url = https://github.com/openjdk/nashorn.git
	branch = main
[submodule "dnsmasq/git"]
	path = dnsmasq/git
	url = https://thekelleys.org.uk/git/dnsmasq.git
	branch = master
[submodule "txt2man/git"]
	path = txt2man/git
	url = https://github.com/mvertes/txt2man.git
	branch = master
[submodule "u-root/cpu/git"]
	path = u-root/cpu/git
	url = https://github.com/u-root/cpu.git
	branch = main
[submodule "gauche/git"]
	path = gauche/git
	url = https://github.com/shirok/gauche.git
	branch = master
[submodule "gambit/git"]
	path = gambit/git
	url = https://github.com/gambit/gambit.git
	branch = master
[submodule "libcap/git"]
	path = libcap/git
	url = https://git.kernel.org/pub/scm/libs/libcap/libcap.git
	branch = master
[submodule "libproxyprotocol/git"]
	path = libproxyprotocol/git
	url = https://github.com/kosmas-valianos/libproxyprotocol.git
	branch = main
[submodule "dtc/git"]
	path = dtc/git
	url = https://git.kernel.org/pub/scm/utils/dtc/dtc.git
	branch = main
